
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .None{
      display: none;
  }
  /* div.v.carousel.slide{
      display: none;
  } */
  .map-container {
      height: 100%;
      width: 100%;
    }